.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav {
    display: flex;
    justify-content: flex-end;
}

.header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.header nav ul li {
    list-style: none;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header nav ul li a {
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 16px;
    display: unset;
}

.header nav ul li a:hover {
    background-color: var(--neutral-colour-transparent);
}
