.favourites {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 1000px;
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list li {
    list-style: none;
}
