.searchBox {
    display: flex;
    background-color: var(--background);
    color: var(--foreground);
    padding-inline-start: 1rem;
    align-items: center;
    gap: 1rem;
    border-radius: 16px;
    overflow: hidden;
    border: solid 1px var(--foreground-transparent);
}

.searchBox input {
    padding: 1rem;
    flex-grow: 1;
    font-size: 1rem;
    padding-inline-start: 0;
    outline: none;
    border: none;
}
