.result {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--foreground);
    text-decoration: none;
}

.result .name {
    font-size: 1.125rem;
    font-weight: bold;
}

.resultInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}

.result .priceLabel {
    display: flex;
    gap: 0.2rem;
    align-items: baseline;
}

.result .price {
    font-weight: bold;
    font-size: 1.5rem;
}

.result img {
    width: 300px;
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
}

.resultList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resultList li {
    list-style: none;
}
