:root {
  --background: rgba(255, 255, 255, 1);
  --foreground: rgba(0, 0, 0, 1);

  --primary-colour: rgba(215, 0, 75, 1);

  --bad-colour: rgba(255, 0, 0, 1);
  --bad-colour-transparent: rgba(255, 0, 0, 0.1);

  --good-colour: rgba(0, 128, 0, 1);
  --good-colour-transparent: rgba(0, 128, 0, 0.1);

  --warning-colour: rgba(255, 165, 0, 1);
  --warning-colour-transparent: rgba(255, 165, 0, 0.1);

  --neutral-colour: rgba(128, 128, 128, 1);
  --neutral-colour-transparent: rgba(128, 128, 128, 0.1);
}

html,
body {
  /* For relative sizing */
  font-size: 16px;
}
