.hero {
    min-height: 100vh;
    max-height: fit-content;
    padding: 64px;
    background: top / cover no-repeat
        url(/images/hero/pexels-pixabay-358636.jpg);
    /*background-size: cover;*/
    color: white;
    display: flex;
    flex-direction: column;
}

.hero h1 {
    font-size: 3rem;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: columns;
}
